.container1 {
	background: linear-gradient(#a9fcf1, #5ba8e3);
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
	padding: 20px;
	width: 20%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
	font-family: "Arial";
}

.container2 {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 20px;
}

#userInput {
	display: inline-block;
	text-align: left;
	padding: 10px;
}

#msg {
	font-size: 12px;
	color: red;
}

#button {
	font-size: 20px;
	font-family: "Arial";
}